//файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

.content {
        padding: 167px 0 255px 0;
        max-width: 2625px;
        margin: 0px auto;
        color: white;
}
.header {
    background: url('/img/Layer_1.png') 100% no-repeat;
    text-align: center;
    
}
.header-title{
    
}
.header-subtitle{

}
.header__phone {
    max-width: 638px;
    max-height: 1247px;
}
.header__qr {
}
.header__qr_titleqr {
}
.tetle__footer {
}
.tetle__footer_left {
}
.tetle__footer_left_top {
}